#historySm #first {
    color: gray;
    margin-left: 10%;
}
#historySm #second {
    color: gray;
    margin-left: 10%;
}
#historySm #op {
    color: orange;
    margin-left: 10%;
}
table td {
    padding: 30px;
}
table{
    margin-left: 10px;
}