.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  background-color: black;
}
#ButtonPannel{
  margin-top: 0px;
  background-color: black;
}
#history {
  color: white;
  border: 1px solid white;
  margin-left: 3%;
  margin-top: -40%;
  width: 25%;
}
#historySm {

}
.NavSticker{
  background-color: white;
  text-align: center;
  margin-right: 50px;
  
}

.material-icons {
  height: 50px;
    width: 50px;
    font-size: 30px;
    margin-left: -5px;
    margin-top: 8px;
    cursor: pointer;
    color: #999999;
    opacity: 0.6;
    position: absolute;
}
#historique{
  left: 50%;
  margin-left: 28%;
  padding: 10px;
  border-collapse: collapse;
  font-size: 0.9em;
  min-width: 400px;
}

